body{
    background: radial-gradient(at top center, #CCDAE0, #EDF2F4);
}

header{
    text-align: center;
}

h1{
    color: #EF233C;
    font-family: impact;
    font-size: xx-large;
    font-weight: bold;
}

h3{
    color:#2B2D42;
    font-size: x-large;
    font-weight: bold;
    text-decoration: underline dotted
}

ul{
    list-style-type: none;
}

section img {
    border: solid #D90429 2px;
}
.couleurliste:hover {
    list-style-type: none;
    color: #2B2D42
}

.article {
    border: solid 1px ;
    padding:25px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif ;
}

a:link {
    color: #D90429 ;
}

a:visited {
    color: grey;
}

a:hover{
    color:#2B2D42;
}

.imgcent{
    text-align: center;
}

.foot{
    text-align:right;
}

span{
    color:red
}

.blog{
    display:flex;
    width: 100vw
}

.d1{
    display:flex;
    width: auto;
    height: 0px;
    padding-top: 75%;
    box-shadow: 0px 0px 10px #777;
    background-color: #EDEDED;
    background-size: contain;
    animation: fondu 15s ease-in-out infinite both;
}
.boite{
    max-width: 576px;
    margin: 50px auto;
}

.d1:hover{
    animation-play-state: paused;
}

@keyframes fondu{
    0%{background-image: url("img/carousselle/090703100315_7316.jpg");}
    33.33%{background-image: url("img/carousselle/KillBill-ORenIshii.jpg");}
    66.67%{background-image: url("img/carousselle/supman.jpg");}
    100%{background-image: url("img/carousselle/TranscodedWallpaper.jpg");}
}